.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.message-input-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  flex: 1;
  max-width: 50%;
  height: auto;
  object-fit: contain;
}


.search-label {
  display:flex;
  flex-direction:column;
  color: orange;
}